<section class="my-6">
    {{#each navigation as |categories themeName|}}
        <p class="menu-label">
            <a href="{{urlPrefix}}{{kebabCase themeName}}/index.html">
                {{themeName}}
            </a>
        </p>
        <ul class="menu-list">
            {{#each categories as |tokens categoryName|}}
                <li>
                    <a href="{{urlPrefix}}{{kebabCase themeName}}/{{kebabCase categoryName}}/index.html">
                        {{categoryName}}
                    </a>
                </li>
            {{/each}}
        </ul>
    {{/each}}
</section>
