<div class="layout">
    <aside class="hide-on-embedded navigation menu py-0">
        {{>tokens-navigation}}
    </aside>
    <main class="content">
        <h1 class="hide-on-embedded">
            Sage Design Tokens
        </h1>

        {{#each themes as |categories themeName|}}
            <h2 id="{{themeName}}">
                {{themeName}}
                <a href="#{{themeName}}" title="permalink" class="permalink">🔗</a>
            </h2>
            {{#each categories as |tokens categoryName|}}
                <section class="my-6">
                    <h3 class="with-icons title is-3 has-text-weight-bold" id="{{themeName}}-{{categoryName}}">
                        {{ categoryName }}
                        <a href="#{{themeName}}-{{categoryName}}" title="permalink" class="permalink">
                            🔗
                        </a>
                    </h3>
                    {{>list tokens=tokens category=categoryName theme=themeName}}
                </section>
            {{/each}}
        {{/each}}

    </main>
</div>
