<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Sage Design Tokens</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <meta name="description" content="">
    <style>
        * {
            font-family: 'Lato', Arial, sans-serif;
            font-size: 14px;
        }

        h1 {
            font-size: 40px;
            line-height: 48px;
            font-weight: 700;
            margin-top: 24px;
            margin-bottom: 24px;
        }

        h2 {
            font-size: 32px;
            font-weight: 600;
            color: #212121;
            margin-top: 24px;
            margin-bottom: 24px;
        }

        .container {
            max-width: 1024px;
            margin: 0 auto;
        }

        .navigation {
            position: fixed;
            top: 40px;
            left: 40px;
            width: 250px;
        }

        .navigation ul {
            list-style-type: none;
            padding-left: 20px;
        }

        .navigation li {
            line-height: 170%;
            font-size: 16px;
        }

        .with-icons:hover .permalink,
        .with-icons:hover .copy-name {
            visibility: visible;
        }

        .permalink, .copy-name {
            visibility: hidden;
            font-size: 80%;
            line-height: inherit;
            text-decoration: none;
            vertical-align: middle;
        }

        .table {
            background-color: white;
            border: 1px solid #ccd6db;
            margin-bottom: 32px;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        .table__cell, .table__header-cell {
            border: 1px solid #CCD6DB;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            line-height: 21px;
            margin-left: 8px;
            padding: 16px;
            text-align: left;
            vertical-align: middle;
        }

        .table__row {
            background-color: white;
            border: 1px solid #d9e0e4;
            border-top: none;
            line-height: 40px;
            height: 40px;

            border-bottom: 1px solid #ccc;
        }

        .table__header-cell {
            background-color: #f2f5f6;
            font-weight: 700;
        }

        .table__color-preview,
        .table__spacing-preview,
        .table__border-width-preview,
        .table__font-size-preview,
        .table__sizing-preview,
        .table__opacity-preview,
        .table__typography-preview {
            width: 100%;
            height: 40px;
        }

        .table__spacing-preview {
            background-color: #f2f5f6;
            height: 10px;
        }

        .table__border-width-preview {
            border-style: solid;
            border-color: #CCD6DB;
            background-color: #f2f5f6;
        }

        .table__font-size-preview {
            height: auto;
        }

        .table__sizing-preview {
            background-color: #f2f5f6;
        }

        .table__opacity-preview {
            background-color: #ccc;
        }

        .table__opacity-preview div {
            width: 100%;
            height: 100%;
            background-color: #fff;
        }

        .table__line-height-preview {
            width: 40px;
            background-color: #f2f5f6;
        }

        .table__typography-preview {
            height: auto;
        }
    </style>
</head>

<body>
        {{#each themes}}
            <main class="container">
                <h1 class="with-icons"
                    id="{{themeName}}">
                    {{themeName}}
                    <a href="#{{themeName}}"
                       title="permalink"
                       class="permalink">
                        🔗
                    </a>
                </h1>
                {{#each categories}}
                    <section>
                        <h2 class="with-icons"
                            id="{{../themeName}}-{{categoryName}}">
                            {{categoryName}}
                            <a href="#{{../themeName}}-{{categoryName}}"
                               title="permalink"
                               class="permalink">
                                🔗
                            </a>
                        </h2>
                        <table class="table">
                            <colgroup>
                                <col width="50%">
                                <col width="25%">
                                <col width="35%">
                            </colgroup>
                            <thead>
                            <tr class="table__row">
                                <th class="table__header-cell">Name</th>
                                <th class="table__header-cell">Value</th>
                                <th class="table__header-cell">Preview</th>
                            </tr>
                            </thead>
                            {{#each tokens}}
                                <tr class="table__row">
                                    <td class="table__cell with-icons"
                                        id="{{../../themeName}}-{{../categoryName}}-{{name}}"
                                        title="{{#each attributes}}{{@key}}: {{@this}}; {{/each}}">
                                        {{name}}
                                        <a href="#"
                                           class="copy-name"
                                           data-token-name="{{name}}"
                                           title="copy token name to clipboard">
                                            📋
                                        </a>
                                        <a href="#{{../../themeName}}-{{../categoryName}}-{{name}}"
                                           title="permalink"
                                           class="permalink">
                                            🔗
                                        </a>

                                    </td>
                                    <td class="table__cell">
                                        {{value}}
                                    </td>
                                    <td class="table__cell">
                                        {{> (lookup . 'type') value }}
                                    </td>
                                </tr>
                            {{/each}}
                        </table>
                    </section>
                {{/each}}
            </main>
        {{/each}}
        <aside class="navigation">
            <ul>
                {{#each themes}}
                    <li>
                        <a href="#{{themeName}}">
                            {{themeName}}
                        </a>
                        <ul>

                        {{#each categories}}
                            <li>
                                <a href="#{{../themeName}}-{{categoryName}}">
                                    {{categoryName}}
                                </a>
                            </li>
                        {{/each}}
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </aside>

    <script type="text/javascript">
        document.querySelectorAll('.copy-name').forEach((element) => {
            element.addEventListener('click', (event) => {
                event.preventDefault();
                const tokenName = event.target.getAttribute('data-token-name')
                navigator.clipboard.writeText(tokenName);
            })
        })
    </script>
</body>
</html>

{{#*inline "color"}}
    <div class="table__color-preview"
         style="background-color: {{this}};">
    </div>
{{/inline}}
{{#*inline "spacing"}}
    <div class="table__spacing-preview"
         style="width: {{this}}">
    </div>
{{/inline}}
{{#*inline "other"}}
    OTHER {{this}}
{{/inline}}
{{#*inline "borderWidth"}}
    <div class="table__border-width-preview"
         style="border-width: {{this}}">
    </div>
{{/inline}}
{{#*inline "boxShadow"}}
    BOX SHADOW {{this}}
{{/inline}}
{{#*inline "fontSizes"}}
    <div class="table__font-size-preview"
         style="font-size: {{this}}; line-height: {{this}}">
        Aa
    </div>
{{/inline}}
{{#*inline "sizing"}}
    <div class="table__sizing-preview"
         style="width: {{this}}; height: {{this}}">
    </div>
{{/inline}}
{{#*inline "opacity"}}
    <div class="table__opacity-preview">
        <div style="opacity: {{this}}"></div>
    </div>
{{/inline}}
{{#*inline "lineHeights"}}
    <div class="table__line-height-preview"
         style="height: {{this}}">
    </div>
{{/inline}}
{{#*inline "fontWeights"}}
    FONT WEIGHS {{this}}
{{/inline}}
{{#*inline "fontFamilies"}}
    FONT FAMILIES {{this}}
{{/inline}}
{{#*inline "borderRadius"}}
    BORDER RADIUS {{this}}
{{/inline}}
{{#*inline "typography"}}
    <div class="table__typography-preview"
         style="font-family: {{this.fontFamily}};
                font-size: {{this.fontSize}};
                font-weight: {{this.fontWeight}};
                line-height: {{this.lineHeight}};
                letter-spacing: {{this.letterSpacing}};
                text-indent: {{this.paragraphSpacing}};">
        Aa
    </div>
{{/inline}}
